<footer class="footer">
  <. use crate::PAGES; .>
  <ul class="footer__section">
    <li class="footer__item">
      <a class="footer__link" href="<.= PAGES.about .>">About</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="<.= PAGES.donate .>">Donate</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="<.= PAGES.privacy .>">Privacy</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="<.= PAGES.security .>">Security</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="<.= PAGES.thanks .>">Thanks</a>
    </li>
    <li class="footer__item">
      <a class="footer__link" href="<.= &*crate::SOURCE_FILES_OF_INSTANCE .>"
        ><.= crate::GIT_COMMIT_HASH .></a
      >
    </li>
  </ul>
</footer>
